@model Tutoring.Models.TutorialM.TutorialAddViewModel

@{
    ViewData["Title"] = "Add Tutorial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Tutorial</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        @*<div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input id="tutTitle" asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea id="tutDesc" asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="form-inline">
                        <input type="text" id="pageTitle" class="form-control" />
                        <input type="button" value="New page" class="btn btn-primary" id="newpage" />
                    </div>
                    <div class="form-group">
                        <select id="contentType" class="form-control" asp-items="@Model.contentTypeSLI">
                            <option value="">--Wybierz typ--</option>
                        </select>
                        <textarea type="text" id="content" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <input id="addTutorial" type="button" value="Add Tutorial" class="btn btn-primary" />
                </div>
            </div>*@
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Tutorial" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back</a>
</div>

@section Scripts {
    @*<script>
            let pages = [];
            $("#newpage").click(function () {
                let page = {
                    title: $("#pageTitle").val()
                }
                pages.push(page);
            })

            $("#addTutorial").click(function () {
                let tutorial = {
                    title: $("#tutTitle").val(),
                    description: $("#tutDesc").val(),
                    pages: pages
                }

                $.post("/tutorial/add", tutorial);
            })
        </script>*@

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
