@*@model ContentItemViewModel
<input type="hidden" asp-for="Id" />
<div class="form-group">
    <label asp-for="ContentType" class="control-label"></label>
    <select asp-for="ContentType" asp-items="ViewBag.ContentTypes" class="typeSelect form-control">
        <option value="">--Select type---</option>
    </select>
    <span asp-validation-for="ContentType" class="text-danger"></span>
</div>
<div style="display:none" id="textInput" class="form-group">
    <label asp-for="Content" class="control-label"></label>
    <textarea asp-for="Content" class="form-control"></textarea>
    <span asp-validation-for="Content" class="text-danger"></span>
</div>
<div style="display: none" id="fileInput" class="form-group">
    <label asp-for="Content" class="control-label"></label>
    <div class="custom-file">
        <input type="file" asp-for="Image" class="custom-file-input" id="inputGroupFile03">
        <label class="custom-file-label" for="inputGroupFile03">Choose file</label>
    </div>
    <span asp-validation-for="Content" class="text-danger"></span>
</div>
<script>
    $(".typeSelect").change(function (e) {
        let html;
        if (e.target.value == "Text") {
            $("#textInput").show();
            $("#fileInput").hide();
        } else {
            $("#textInput").hide();
            $("#fileInput").show();
        }
    })
</script>*@


