@model ContentItemViewModel
<input type="hidden" asp-for="Id" />
<div id="textInput" class="form-group">
    <label asp-for="Content" class="control-label"></label>
    <textarea asp-for="Content" class="form-control"></textarea>
    <span asp-validation-for="Content" class="text-danger"></span>
    <input hidden asp-for="ContentType" />
</div>